<div class="sign-container">
  <div class="sign-background"></div>
  <form class="form-signin example-form" role="form" (ngSubmit)="f.form.valid && login()" #f="ngForm">
    <mat-card class="sign-card">
      <mat-card-title>MATERIAL</mat-card-title>
      <mat-card-subtitle>Sign in to continue.</mat-card-subtitle>
      <br>
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="Username or email address" name="username" id="username" [(ngModel)]="model.username"
            #username="ngModel" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="model.password" #password="ngModel" required>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" mat-raised-button color="primary">LOGIN</button>
      </mat-card-actions>
    </mat-card>
  </form>
  <br>
  <p>Don't have an account? <a>Sign Up</a></p>
</div>
